
$fixed-top-toolbar: 34px;
$fixed-top-header: 50px;
$fixed-top-sidebar: 200px;
$fixed-top-sidebar-sm: 50px;

// Body
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #33A3DC !default;
$indigo:  #6200ff !default;
$purple:  #5900ff !default;
$pink:    #ff0077 !default;
$red:     #E94E25 !default;
$orange:  #EE7822 !default;
$yellow:  #ffd500 !default;
$green:   #6CD36D !default;
$teal:    #00ffb3 !default;
$cyan:    #00ddff !default;
$secondary-gray: #575b6e !default;

$facebook:   #3e5a99 !default;
$twitter:    #00acee !default;
$google:     #CC3333 !default;
$linkedin:   #0077b5 !default;
$instagram:  #f00084 !default;
$pinterest:  #bd081c !default;
$youtube:    #f81109 !default;
$whatsapp:   #0ad644 !default;

$primary:       $orange !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "facebook":   $facebook,
    "twitter":    $twitter,
    "google":     $google,
    "linkedin":   $linkedin,
    "instagram":  $instagram,
    "pinterest":  $pinterest,
    "youtube":    $youtube,
    "whatsapp":   $whatsapp,
  ),
  $theme-colors
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    10: 10%,
    20: 20%,
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

$body-bg:                   #f8f9fa !default;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

$font-size-base:              0.9rem !default;

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               1.5rem !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            1rem !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            2.5rem !default;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($primary, .7) !default;
$navbar-light-active-color:         rgba($primary, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;



