body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #757575;
    line-height: 1.4;
}

.header-menu {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    transition: all 0.2s linear;
} 

.header-menu .e-light { display: none; }
.header-menu .e-dark { display: block; }

.header-menu .navbar-nav .dropdown-toggle::after {
    color: rgb(107, 107, 107);
    font-size: 12px;
}

.header-menu .navbar-dark .navbar-nav .nav-link {
    color: rgb(107, 107, 107);
    margin: 0 1rem;
}

.header-menu .navbar-dark .navbar-nav .nav-link:hover, 
.header-menu .navbar-dark .navbar-nav .nav-link:focus {
    /* color: #ff8000; */
}

.header-menu .navbar-nav .nav-item {
    position: relative;
}

.header-menu .navbar-nav .dropdown-menu {
    left: auto !important;
    /* right: 0 !important; */
    border: none;
    padding: 16px 16px 10px 16px;
    /* border-bottom: 3px solid #ff8000; */
}

.sticky .header-menu {
    background: white;
    position: fixed;
    padding-top: 0;
    /* border-bottom: 2px solid #ff8000; */
    z-index: 2;
}

.sticky .header-menu .e-light { display: block; }
.sticky .header-menu .e-dark { display: none; }

.sticky .header-menu .navbar-nav .dropdown-toggle::after {
    color: #575b6e;
    font-size: 12px;
}

.sticky .header-menu .navbar-dark .navbar-nav .nav-link {
    color: #575b6e;
}

.sticky .header-menu .navbar-dark .navbar-nav .nav-link:hover, 
.sticky .header-menu .navbar-dark .navbar-nav .nav-link:focus {
    /* color: #ff8000; */
}

@media(max-width: 991px) {
    
    .header-menu {
        background: white;
        position: fixed;
        padding-top: 0;
        /* border-bottom: 2px solid #ff8000; */
        z-index: 2;
    }

    .header-menu .e-light { display: block; }
    .header-menu .e-dark { display: none; }

    .header-menu .navbar-nav .dropdown-toggle::after {
        color: #575b6e;
        font-size: 12px;
    }

    .header-menu .navbar-dark .navbar-nav .nav-link {
        color: #575b6e;
    }

    .header-menu .navbar-dark .navbar-nav .nav-link:hover, 
    .header-menu .navbar-dark .navbar-nav .nav-link:focus {
        /* color: #ff8000; */
    }
}

.home-search-section,
.page-search-section {
    background-image: url('../img/bg-home-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-search-section .page-search,
.home-search-section .home-slogans {
    padding-top: 180px;
}

.page-search-section .page-search {
    padding-top: 120px;
}

.category-display {
    margin-top: 140px;
    margin-bottom: -10px;
}

.category-display .category-image {
    height: 100px;
    margin: auto;
}

.category-display img {
    width: 100px;
    margin: auto;
}

.section-padding {
    padding: 80px 0;
}

.section-padding-top {
    padding-top: 80px;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.footer-summary {
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-summary .cover {
    /* background-color: rgba(255, 128, 0, 0.8); */
}

.footer-summary .number {
    font-weight: 700;
    font-size: 34px;
}

.footer-summary .card-title {
    font-weight: 300;
}

.footer-address-links {
    line-height: 2.5;
}

.footer-copyright {

}

.alert ul {
    padding-left: 20px;
    text-align: left;
}

.list-group a {
    color: #575b6e;
    text-decoration: none;
}

.form-control {
    background: #ffffff;
}


.home-search-form {
    width: 100%;
    max-width: 940px;
}


.home-search-form .search-input {
    /* min-width: 500px; */
}

.home-search-form .category-input {
    min-width: 230px;
}


.media .media-image {
    max-width: 45%;
}

.media .media-image-sm {
    max-width: 20%;
}

.media h5, .media .h5 {
    font-size: 1rem;
}

.media .media-body .title {
    font-weight: 700;
}

.media .media-body .condition {
}

.media .media-body .location {}

.media .media-body .created-at {}

.media .media-body .price {}

.image-profile.rounded-circle {
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position-x:center !important;
    width:40px;
    height:40px;
}

.media-image {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-width:300px;
    min-height:160px;
}

.media-image.section-padding {
    /* border: 10px solid rgb(252, 215, 68);
    background-origin: border-box; */
}

.media-image.section-padding:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.image-invert {
    max-width: 100px;
    filter: invert(1);
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 31px;
    border: 6px solid #0328bb;
}

.input-group-search {
    max-width: 200px;
}

.nav-link {
    color: inherit;
}

.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    color: #4e4e4e !important;
    background-color: #fbcc12 !important;
}

.datetimepicker {
    padding: 15px;
    min-width: 15rem;
}

.datetimepicker table {
    width: 100%;
}

.datetimepicker td, .datetimepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    padding:1px 5px;
} 

.datetimepicker th {
    font-weight: bold;
}

.datetimepicker .switch {
    text-align: center;
}

.datetimepicker table tr td span {
    display: block;
    width:23%;
    height :20px;
    line-height:20px;
    float:left;
    margin:1%;
    cursor:pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
} 

.datetimepicker table tr td span:hover {
    background: #eee;
}

.datetimepicker thead tr:first-child th:hover, 
.datetimepicker tfoot th:hover {
    background: #eee;
}

.glyphicon {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.glyphicon-arrow-left:before {
    content: "\f060";
} 

.glyphicon-arrow-right:before {
    content: "\f061";
} 

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}


.select2-selection.form-control {
    height: auto;
    height: calc(1.5em + 1.6rem + 2px);
    border: 1px solid #ced4da;
}

.select2-selection.form-control .select2-selection__rendered {
    text-align: left;
}

.select2-selection.form-control .select2-selection__arrow {
    position: inherit;
}

.select2-selection.form-control .select2-selection__arrow b {
    right: 10px;
    left: auto;
}

.select2-container {
    /* max-width: 100%; */
    width: 100% !important;
}

.main-viewport {
    border-bottom: 1px solid #000;
    background-color: #000;
    height: 100% !important;
}

.atr-multimedia-viewer {
    position: relative;
}

.home-slogans {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    height: 100%;
    margin: 0 8rem;
    z-index: 2;
}

.home-search-section {
    overflow: hidden;
    min-height: 650px;

}

.atr-page-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


/* The animation code */
@keyframes zoom-in-out {
    0%   {
        background-size: 100%;
        background-position: bottom right;
    }
    50%  {
        background-size: 140%;
        background-position: top left;
    }
    100% {
        background-size: 100%;
        background-position: bottom right;
    }
}

@keyframes zoom-in-out-small {
    0%   {
        background-position: bottom right;
    }
    50%  {
        background-position: bottom left;
    }
    100% {
        background-position: bottom right;
    }
}

.atr-images-animate .atr-image {
    /* animation: none; */
    -webkit-animation-name: zoom-in-out-small; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 28s; /* Safari 4.0 - 8.0 */
    animation-name: zoom-in-out-small;
    animation-duration: 28s;
    animation-iteration-count: infinite;
}

.carousel-inner {
    height: 100%;
}

.carousel-item { 
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none !important;
}

.main-container-middle .container-navbar .nav > .nav-item, 
.main-container-middle .container-navbar .nav > .nav-link {
    color: inherit;
}

@media (max-width: 767px) {
    .home-slogans {
        margin: 0 3rem;
    }

    .home-search-section .home-slogans {
        padding-top: 80px;
    }
    
    
}

@media (min-width: 576px){
    .atr-images-wrapper .atr-image {
        -webkit-animation-name: zoom-in-out; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 28s; /* Safari 4.0 - 8.0 */
        animation-name: zoom-in-out;
        animation-duration: 28s;
        animation-iteration-count: infinite;
    }
}

.custom-button {
    padding-left: 0;
}

.custom-button.custom-control-inline {
    margin-right: 1rem;
}

.custom-button .custom-control-label {
    display: inline-block;
    font-weight: 400;
    color: #6c757d;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 2;
    border-radius: 25px;
    left: 0;
    top: 0;
    margin: 0;
}

.custom-button .custom-control-label::before,
.custom-button .custom-control-label::after {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: transparent;
    left: 0;
}

.custom-button .custom-control-input:checked ~ .custom-control-label::before,
.custom-button .custom-control-input:checked ~ .custom-control-label::after {
    border-color: #FCD744;
    background-color: transparent;
}

.custom-button .custom-control-input:checked ~ .custom-control-label {
    border-color: #FCD744;
    background-color: #FCD744;
}

.sidebar-nav .navbar-nav > .nav-item > .nav-link:hover *,
.sidebar-nav .navbar-nav li .nav-link.active *,
.sidebar-nav .navbar-nav li.active .nav-link,
.sidebar-nav .navbar-nav li.active .nav-link *  {
    color: #212529 !important;
}

.sidebar-nav .navbar-nav li ul li.active > .nav-link:hover {
    background: rgba(252, 215, 68, 0.9);
}