@font-face {
    font-family: 'NexaLight';
    src: url('NexaLight.eot');
    src: url('NexaLight.eot?#iefix') format('embedded-opentype'),
         url('NexaLight.svg#NexaLight') format('svg'),
         url('NexaLight.ttf') format('truetype'),
         url('NexaLight.woff') format('woff'),
         url('NexaLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  

@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.eot');
  src: url('NexaBold.eot?#iefix') format('embedded-opentype'),
       url('NexaBold.svg#NexaBold') format('svg'),
       url('NexaBold.ttf') format('truetype'),
       url('NexaBold.woff') format('woff'),
       url('NexaBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

